.git
.pytest_cache
.venv
.uv-cache
backend/.pytest_cache
backend/.uv-cache
backend/.venv
backend/src/dms_admin_api/__pycache__
backend/src/dms_admin_api/dms/__pycache__
backend/src/dms_admin_api/routers/__pycache__
backend/tests/__pycache__
frontend/dist
frontend/node_modules
frontend/tsconfig.tsbuildinfo
